@font-face{
    font-family:'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf') format('truetype');  
}

@font-face{
    font-family:'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.otf') format('truetype');  
}

@font-face{
    font-family:'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');  
}


@font-face{
    font-family:'NotoSans-Bold';
    src: url('../fonts/NotoSans-Bold.ttf') format('truetype');  
}

