/****** Colors ******/

$white: #ffffff;
$grey: #404040;
$yellow: #e2ee10;
$blue: #00cedb;
$black: #000009;
$white-hover: #e6e6e6;
$blue-hover: #00ace6;
$yellow-hover: #cccc00;

/****** Colors ******/
